a:link { text-decoration: none;}
a:active { text-decoration:blink}
a:hover { text-decoration:none}
a:visited { text-decoration:none}
/*list页面*/
.bg1{ width:850px; height:400px; background:#eeeeee; padding:30px;}
.bg2{margin:20px auto; width:850px; height:400px;  padding:30px;}
.font1{font-size:22px; color: #61bcc8}
.font2{ font-size:18px;color:#589ddb}
.list_table1{width:90%; height:30%; border:10px;margin-left: 50px}
.list_td1{text-align:center; }
.list_td2{width: 5%;height: 30px;text-align: center}
.list_td3{width: 10%;text-align: center}
.pages{margin-left:-80px ;}
/*add页面*/
.add_content{margin:20px auto; width:850px; height:300px; background:#eeeeee; padding:30px;}
.add_field{text-align:center; margin:15px 120px;}
/*index页面*/
.index_content{margin:200px auto!important; width:500px; height:400px; background:#eeeeee; padding:30px;}
.index_top{font-size: 20px;color:#61bcc8;margin-bottom: 60px}
.index_field{text-align:center; margin:10px 40px;}
.index_tr{margin-left: 100px}
.add_middle{font-size: 18px;}
.text{font-size: 18px;text-align: center;color: #589ddb ;margin-top: 30px}
.buttom{font-size: 18px;color: #c82923;margin-top: 30px;text-align: center}
/*edit页面*/
.edit_content{margin:20px auto; width:850px; height:300px; background:#eeeeee; padding:30px;}
.edit_field{text-align:center; margin:15px 120px;}
/*register页面*/
.register_context{margin:20px auto; width:850px; height:600px; background:#eeeeee; padding:30px;}
.text1{font-size: 20px;color:#61bcc8;margin-bottom: 10px;text-align: center}
.text2{font-size: 18px;color:#589ddb;text-align: center}
.register_figure{text-align: center}
.img{width:90%;height:30%;border:0}
.register_field{text-align:center; margin:10px 40px;}
.text3{font-size: 18px;text-align: center;color: black;margin-bottom: 13px}
.text4{font-size: 20px;color: #c82923;text-align: center}