<!DOCTYPE html>
<html>
<head>
    {include file="Public:header"/}
    <title>点餐系统后台</title>
</head>
<body style="overflow-x: hidden">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>人员历史点餐总记录</legend>
</fieldset>
<div class="layui-form">
    <form method="post">
        <table   id="test"  class="layui-table" >
            <thead>
            <tr>
                <th >用户名</th>
                <th >部门</th>
                <th >时间</th>
                <th >菜品</th>
            </tr>
            </thead>
            <tbody>
            {foreach $user as $key=>$us}
            <tr>
                <td >{$us}</td>
                <td >{$dep[$key]}</td>
                <td >{$foodtime[$key]}({$week[$key]})</td>
                <td >{$food[$key]}</td>
            </tr>
            {/foreach}

             </tbody>
        </table>
    </form>
</div>
<script src="__PUBLIC__layui/layui.js" charset="utf-8"></script>
<script>


</script>

</body>
</html>