<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="__PUBLIC__layui/layui.js">
<link rel="stylesheet" href="__PUBLIC__layui/css/layui.css"  media="all">
<link rel="stylesheet" href="__PUBLIC__css/0.css">
<link href="__PUBLIC__css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__css/bootstrap-theme.css" rel="stylesheet">
<script src="__PUBLIC__laydate/laydate.js"></script>
<script src="__PUBLIC__js/jquery-3.6.0.js"></script>
<script src="__PUBLIC__layer-v3.4.0/layer/layer.js"></script>
<script src="__PUBLIC__js/moban.js"></script>


